/*
*  html5 doctor css reset | http://html5doctor.com/html-5-reset-stylesheet
*/
html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline}
/*body{line-height:1}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
nav ul{li/*st-style:none}
blockquote,q{quotes:none}
blockquote:before,blockquote:after,q:before,q:after{content:none}
a{margin:0;padding:0;font-size:100%;vertical-align:baseline;background:transparent}
ins{background-color:#ff9;color:#000;text-decoration:none}
mark{background-color:#ff9;color:#000;font-style:italic;font-weight:bold}
del{text-decoration:line-through}
abbr[title],dfn[title]{border-bottom:1px dotted;cursor:help}
table{border-collapse:collapse;border-spacing:0}
hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0}
input,select{vertical-align:middle}*/

html {
	font-size: 62.5%;
	font-family: Constantina, Georgia, 'Nimbus Roman No9 L', serif;
}

body {
	font-size: 1.6em;
}

a {
	display: block;
	text-decoration: none;

	&:hover {
		text-decoration: underline;
	}
}

li {
	list-style-type: none;
}

#wrapper {
	width: 960px;
	margin-top: 7px;
	margin-left: 5px;
}

.menu {
	&>li {
		width: 170px;
		position: relative;
		padding: 10px 0;
		margin-bottom: 10px;
		border-radius: 15px;
		background-color: #B6FF00;

		&>a {
			text-align: center;
			color: black;
		}
		
		&:hover {
			&>a {
				text-decoration: underline;
			}

			.content>.sub-menu{
				display: inline-block;
				position: absolute;
				top: 0;
				left: 170px;
			}
		}
	}
}

.sub-menu {
	display: none;

	li {
		width: 500px;
		padding: 20px;
		border-radius: 10px;
		background-color: #008000;

		&:first-child {
			margin-bottom: 10px;
		}

		a {
			color: white;

			&:hover+img {
				display: inline-block;
			}
		}

		img {
			display: none;
			width: 500px;
			height: 260px;
			margin-top: 10px;
			border-radius: 10px;
		}
	}
}