span {
	display: inline-block;
	width: 150px;
	height: 150px;
	border: 2px solid black;
	border-radius: 20px;
	margin-right: 50px;
}

#first {
	float: left;
}

#second {
	margin-top: 20px;
	clear: both;
	float: left;
}