@mixin linear-gradient($startColor, $middle_color, $middle_perc, $endColor) {
	background: $startColor;
	background: -moz-linear-gradient(top,  $startColor 0%, $middle_color $middle_perc, $endColor 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,$startColor),color-stop($middle_perc,$middle_color),color-stop(100%,$endColor));
	background: -webkit-linear-gradient(top,  $startColor 0%,$middle_color $middle_perc,$endColor 100%);
	background: -o-linear-gradient(top,  $startColor 0%,$middle_color $middle_perc,$endColor 100%);
	background: -ms-linear-gradient(top,  $startColor 0%,$middle_color $middle_perc,$endColor 100%);
	background: linear-gradient(to bottom,  $startColor 0%,$middle_color $middle_perc,$endColor 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$startColor', endColorstr='$endColor',GradientType=0 );
}

@mixin clearfix() {
	&:before,
	&:after {
	    content: "";
	    display: table;			
	}

  	&:after {
    	clear: both;
  	}
}

/*
*  html5 doctor css reset | http://html5doctor.com/html-5-reset-stylesheet
*/
html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,img,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;outline:0;vertical-align:baseline;background:transparent}
body{line-height:1}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
ul{list-style:none}
a{margin:0;padding:0;vertical-align:baseline;background:transparent}

html {
	font-family: 'Courier New', Courier, 'Nimbus Mono L', monospace;
	font-size: 62.5%
}

body {
	width: 960px;
	font-size:1.6em;
}

.notification-list {
	display: inline-block;
	margin: 25px;
	position: relative;

	&>li {
		position: static;
		display: inline-block;

		&:first-child>a {
			border-right: none;
			border-radius: 15px 0 0 0;
		}

		&:last-child>a {
			border-left: none;
			border-radius: 0 15px 0 0;
			padding-right: 18px;
		}

		&>a {
			height: 24px;
			position: relative;
			z-index: 2;
			border: 1px solid black;
			display: block;
			font-size: 1.9rem;
			padding: 6px 15px 0px 15px;
			@include linear-gradient(#ababab, #dddddd, 83%, #dddddd);
			/*
			background: #ababab;
			background: -moz-linear-gradient(top, #ababab 0%, #dddddd 83%, #dddddd 100%);
			background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ababab), color-stop(83%,#dddddd), color-stop(100%,#dddddd));
			background: -webkit-linear-gradient(top, #ababab 0%,#dddddd 83%,#dddddd 100%);
			background: -o-linear-gradient(top, #ababab 0%,#dddddd 83%,#dddddd 100%);
			background: -ms-linear-gradient(top, #ababab 0%,#dddddd 83%,#dddddd 100%);
			background: linear-gradient(to bottom, #ababab 0%,#dddddd 83%,#dddddd 100%);
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ababab', endColorstr='#dddddd',GradientType=0 );
		*/
		}
		
		&:hover {
			&>a {
				border-bottom: hidden;
			}

			.content {
				display: block;
			}
		}
	}
}

a {
	text-decoration: none;
	color: #777777;
}

img {
	width: 15px;
	height: 15px;
}

strong {
	color: #5e5e5e;
}

.content {
	width: 470px;
	display: none;
	position: absolute;
	line-height: 1.1;
	z-index: 1;
	top: 30px;
	left: 0;
	border: 1px solid black;
	border-top: none;
	@include linear-gradient(#dddddd, #dddddd, 17%, #cccccc);

	ul {
		margin: 3px 0 -1px 15px;

		a {
			display: block;
			margin-top: 10px;

			&:hover {
				text-decoration: underline;
			}
		}

		img {
			margin-right: 5px;
		}
	}
}
